<div class="py-10">
  <header>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold leading-tight text-gray-900">
        Profile
      </h1>
      <div class="pt-1.5">
        <p class="text-sm font-medium text-gray-500">
          Your anonymous Turing Slack Id:
          <%= @current_user.display_slack_id %>
        </p>
      </div>
    </div>
  </header>
  <main>
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
      <!-- Replace with your content -->
      <div class="px-4 py-8 sm:px-0">
        <%= render partial: "salaries/index" %>
      </div>
      <!-- /End replace -->
    </div>
  </main>
</div>

