<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <img class="mx-auto h-12 w-auto" src="https://d682ma8ami8n4.cloudfront.net/images/TuringSchool_LogoMark_Gray.png" alt="Turing Salaries">
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
      Welcome to Salaries
    </h2>
    <div class="mt-6 grid justify-items-center">
      <a id="slack-login" href="auth/slack"><img src="https://api.slack.com/img/sign_in_with_slack.png"/></a>
      <p class="mt-6 text-sm">
        The time is now: <%= Time.now %>
      </p>
    </div>
  </div>
</div>